SQL_SA_PASSWORD=REPLACE_WITH_STRONG_SA_PASSWORD
RABBITMQ_USERNAME=REPLACE_WITH_RABBITMQ_USER
RABBITMQ_PASSWORD=REPLACE_WITH_RABBITMQ_PASSWORD
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=REPLACE_WITH_SMTP_EMAIL
SMTP_PASSWORD=REPLACE_WITH_SMTP_APP_PASSWORD
JWT_KEY=REPLACE_WITH_SECURE_JWT_KEY_MIN_32_CHARS
STRIPE_SECRET_KEY=REPLACE_WITH_STRIPE_SECRET_KEY
